body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #ffffff;
    background-image: url('logo1.png');
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

.logo img {
    width: 100px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

main {
    padding: 40px;
}

.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

button {
    background-color: #e50914;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.categories {
    margin-top: 40px;
}

.categories h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    padding: 100
    
}

.category-item {
    width: 200px;
    margin-right: 30px;
}

.category-item img {
    width: 100%;
    height: auto;
}

.category-item h3 {
    font-size: 18px;
    margin-top: 20px;
}
footer {
	background-color: #000;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer ul {
	list-style: none;
	display: flex;
}

footer li {
	margin-right: 20px;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer p {
	font-size: 1.2rem;
}